@import url("https://fonts.googleapis.com/css?family=Audiowide");

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('./assets/bg5.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    backdrop-filter: blur(15px);
    font-family: "Audiowide", sans-serif;
}

.converter-container {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    background: #fff;
    box-shadow: 5px 5px 10px #bebebe,
        -5px -5px 10px #bebebe;
    filter: drop-shadow(0 0 50px rgb(0, 0, 0));
}

.converter-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.converter-container {

    input,
    select,
    button {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 4px;
        border: 1px solid #ddd;
        transition: all 0.3s ease;
    }

    select:hover,
    button:hover {
        transform: scale(1.05);
    }
}

.converter-container {
    button {
        border: none;
        margin: 20px 0;
        color: #fff;
        background-color: #007bff;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
}

.result {
    color: #008202;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #44444480;
}